* {
    margin: 0px;
    padding: 0px;
}

body {

    background-color: rgb(27, 26, 26);
}

.soundeffects {
    display: none;
}

.main {
    height: 95vh;
    width: 95vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.another {
    height: 800px;
    width: 800px;
    background-image: url("snake and ladder image/snake.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    grid-template-columns: repeat(10, 80px);
    grid-template-rows: repeat(10, 80px);
}

.button {
    margin: 10px;
    display: flex;

}


.button2 {
    height: 50px;
    width: 50px;
    border: 2px solid transparent;
    background-color: rgb(46, 236, 46);
    box-shadow: inset 0px 0px 6px 0px rgb(16, 165, 16);
    outline: 2px solid rgb(55, 190, 21);
    outline-offset: -8px;
    border-radius: 80px;
    position: relative;
    z-index: 3;
}

.initial {
    height: 20px;
    width: 20px;
    margin-top: 30px;
    outline: none !important;
    box-shadow: none !important;
}

.gameover {
    height: 200px;
    width: 700px;
    margin-top: 40vh;
    padding-top: 50px;
    padding-left: 100px;
    background-color: rgb(84, 97, 96);
    border: 2px solid rgb(68, 66, 66);
    font-weight: bolder;
    color: rgb(255, 255, 255);
    font-size: 80px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

#player1 {
    background-color: green;
}

#player2 {
    background-color: rgb(255, 0, 0);
    outline-color: rgb(212, 95, 95);
    box-shadow: inset 0px 0px 6px 0px rgb(151, 7, 7);
}

.dice {
    height: 60px;
    width: 60px;
    display: inline-block;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 10px;
    margin-top: 700px;
    background-image: url("snake and ladder image/dice1.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.moving {
    animation: rota 1s ease-in 0s;
}

@keyframes rota {
    to {
        transform: rotate(9000deg);
    }

    from {}
}

@keyframes left {
    to {
        transform: trasnlateX(-80px);
    }
}

@keyframes right {
    to {
        transform: trasnlateX(80px);
    }
}

@keyframes top {
    to {
        transform: trasnlateY(80px);
    }
}

@keyframes bottom {
    to {
        transform: trasnlateY(-80px);
    }
}

.winner {
    font-size: 30px;
    padding-left: 30px;
}

.playerturn{
    box-shadow: navy 2px -7px 20px 9px;
    font-weight: bolder;
    width: 119px;
    height: 25px;
    color: white;
    font-size: 20px;
    position: absolute;
    left: 80vw;
    top: 100px;
    background-color: black;
    padding: 11px;
    padding-left: 24px;
    text-shadow: 1px 6px 5px  #ffb285;
    border: 2px solid transparent;
    border-radius: 20px;
}